<section class="hero is-halfheight is-warning is-bold" *ngIf="(isCurtain | async)" @landingCurtainLeaveLeft>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Welcome to</p>
    </div>
  </div>
</section>
<section class="hero is-halfheight is-warning is-bold" *ngIf="isCurtain | async" @landingCurtainLeaveRight>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Appologi.es</p>
    </div>
  </div>
</section>
<section class="hero is-fullheight is-warning is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="heading">zero transaction fee blockchain/cryptocurrency</p>
      <p class="title">Appologi.es</p>
      <p class="subtitle">
        Our appologi.es but we believe you can hack bitcoin with one leading zero for each block,
        this way you could have a longer chain a greater total difficulty and 51 percent of the network.</p>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container has-text-centered">
      <a mat-button href="https://docs.appologi.es">docs</a>
      <button mat-button href="https://github.com/justintim-es/appologi.es">github</button>
      <button mat-button href="http://main.appologi.es">bootnode</button>
      <button mat-button href="https://scan.appologi.es">scan</button>
    </div>
  </div>
</section>
